// Override default variables before the import
$primary: #EDF2F4;
$secondary: #2B2D42;
$tertiary: #D90429;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.btn-tertiary {
    @include button-variant($tertiary, darken($tertiary, 7.5%), darken($tertiary, 10%), lighten($tertiary,5%), lighten($tertiary, 10%), darken($tertiary,30%));
}